/bin
/flavors/Debug
/flavors/Release
/test/Debug
/test/Release
/lib/cuda-api-wrappers/Debug
/lib/cuda-api-wrappers/Release
/test/.settings
/benchmark/benchmark-run/.settings
*.pyc
/.vs/flavors/v15
*.pdb
/lib/cuda-api-wrappers/.settings/org.eclipse.cdt.codan.core.prefs
/lib/cuda-api-wrappers/.settings/org.eclipse.cdt.core.prefs
/packages
/results
/data/dictionary
